
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables

@import 'variables';
// bulma
@import "node_modules/bootstrap/scss/bootstrap";

body {
	background: #f5f5f5;
}

nav.navbar {
	&.fixed-top {
		background: #FFF;
		border-bottom: 1px solid $card-border-color;
	}

	&.fixed-bottom {
		background: #FFF;
		border-top: 1px solid $card-border-color;
	}
}

.main {
	padding: 5rem 0;
}

.waiting {

	display: block;
	line-height: 0;

	span {
		display: inline-block;
		width: $dotSize;
		height: $dotSize;
		border-radius: $dotSize * 0.5;
		border: 0px solid $brand-primary;
		background: $brand-primary;


		&:nth-child(1) {
			animation: animateDot $animationLength ease-in-out infinite;
			left: $animationRadius;
		}

		&:nth-child(2) {
			animation: animateDot $animationLength ease-in-out infinite;
			animation-delay: $animationLength / 3;
			left: $animationRadius * 2;
		}

		&:nth-child(3) {
			animation: animateDot $animationLength ease-in-out infinite;
			animation-delay: (($animationLength / 3) * 2);
			left: $animationRadius * 3;
		}

		@keyframes animateDot {
			0% { opacity: 0.4; top: 0rem;}
			50% { opacity: 1; top: -1rem; }
			100% { opacity: 0.4; top: 0rem;}
		}
	}
}
