
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
	background: lighten($brand-primary, 33%);

	.inner-cell {
		display: table-cell;
		vertical-align: middle;
	}


}